input, select{
  background-color: rgba(255, 255, 255, 0.849);
}
.mainDiv{
  /* background-color: rgb(204, 204, 204); */
  background-color: aliceblue;
}
.subMainDiv{
  /* background-color: red; */
  position: relative;
}

.displayAt{
  display: none;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width:767px){
  .displayAt{
    display: block;
  }
}
