<div class="wrapper">
  <ul>
    <li class="facebook" (click)="sendSocialLink()">
      <i class="fa-brands fa-facebook-f socialLogo"></i>
    </li>
    
    <li class="twitter" (click)="sendSocialLink()">
      <i class="fa-brands fa-twitter socialLogo"></i>
    </li>
    
    <li class="instagram" (click)="sendSocialLink()">
      <i class="fa-brands fa-instagram socialLogo"></i>
    </li>
    
    <li class="google" (click)="sendSocialLink()">
      <i class="fa-brands fa-linkedin-in socialLogo"></i>
    </li>
  </ul>
</div>
