<div style="min-height: 100px; max-height: 100px;"></div>
<div class="d-flex justify-content-between">
  <div class="d-flex justify-content-start container-fluid">
    <button class="btn btn-success btn-sm me-2" (click)="showPending()">Show Pending</button>
    <button class="btn btn-success btn-sm" (click)="allEnquiries()">Show All</button>
  </div>

  <div class="d-flex justify-content-end container-fluid">
    <button class="btn btn-success btn-sm me-2" (click)="downloadPending()">Download Pending</button>
    <button class="btn btn-success btn-sm" (click)="downloadAll()">Download All</button>
  </div>
</div>

<div class="container-fluid">
  <br>
  <div class="table-responsive">

  <table class="table table-dark table-striped"  style="max-width: 100vw;">
      <thead align="center">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Contact</th>
          <th scope="col">Email ID</th>
          <th scope="col">Address</th>
          <th scope="col">Education</th>
          <th scope="col">Marks</th>
          <th scope="col">College</th>
          <th scope="col">Pass Out</th>
          <th scope="col">Gap</th>         
          <th scope="col">Status</th>         
          <th colspan="2"scope="col">Action</th>
        </tr>
      </thead>
      <tbody align="center">
        <tr *ngFor="let i of allEnquiry">
          <td>{{i.enquiryNo}}</td>
          <td>{{i.enquiryDate}}</td>
          <td class="text-truncate" style="max-width: 150px;">{{i.firstName}} {{i.middleName}} {{i.lastName}}</td>
          <td>{{i.contactNumber}}</td>
          <td class="text-truncate" style="max-width: 150px;">{{i.email}}</td>       
          <td class="text-truncate" style="max-width: 150px;">{{i.nativePlace}}</td>
          <td>{{i.education}} {{i.stream}}</td>
          <td>{{i.marks}}</td>
          <td class="text-truncate" style="max-width: 150px;">{{i.collegeName}}</td>
          <td>{{i.passOutYear}}</td>
          <td>{{i.academicGap}}</td>

          <td *ngIf="i.pending == 'true'" style="color:red">Pending</td>
          <td *ngIf="(i.pending == 'false')" style="color:yellow">viewed</td>

          <td><button class="btn btn-primary btn-sm" (click)="showEnquiry(i._id, i.pending)">Show</button></td>
            <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalDelete" (click)="setDeleteVar(i._id)" >Delete</button></td>
            
        </tr>
      </tbody>
    </table>
</div>
</div>




  <!-- Modal -->
  <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="modal-title fs-5 text-center text-danger" id="exampleModalLabel" style="width:100%">Delete Student Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
         <h6>Do you really want to Delete this student data</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="deleteEnquiry()" >Yes</button>
        </div>
      </div>
    </div>
  </div>