

    <!-- /////////   option images division    ////// -->
    <div class="bodyy">
    <div class="container">
        <div class="box">
            <a [routerLink]="['../admission']"><div class="content">
                <span class="material-symbols-outlined gridIcon">
                    description
                    </span>
                <h3 >Admission Form</h3>
                <p>Click Here for Admission of new Students</p>
            </div>
        </a>
        </div>
        <div class="box">
            <a [routerLink]="['../enquiry']">  <div class="content">
                <span class="material-symbols-outlined gridIcon">
                    assignment
                    </span>
                <h3>Enquiry Form</h3>
                <p>Which technology you want to study</p>
            </div>
        </a>
        </div>
        <div class="box">
            <a [routerLink]="['../getData']"> <div class="content">
                <span class="material-symbols-outlined gridIcon">
                    quick_reference_all
                    </span>
                <h3>Find Student</h3>
                <p>All past and current student data</p>
            </div>
        </a>
        </div>
        <div class="box">
            <a [routerLink]="['../placed']">    <div class="content">
                <span class="material-symbols-outlined gridIcon">
                    school
                    </span>
                <h3>Placed Students</h3>
                <p> All students data who are currently working</p>
            </div>
        </a>
        </div>
    </div>
    </div>

