a{
    text-decoration: none !important;
    color: white !important;
  }

  h3{
    color:  #e35328;
  }

 .gridIcon{
    font-size: 7rem;
  }
.bodyy
{
    /* margin-top: 12vh;  */
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    /* background: rgb(32, 32, 46); */
    background: rgb(218, 218, 218);
}
.container
{
    /* position: relative; */
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container .box
{
    background: rgb(2, 41, 80);
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:  0 7px 10px black;
}
.container .box:hover
{
    background: rgb(66, 74, 124);
    box-shadow:  0 0 10px black;
}
.container .box img
{
    max-width: 100px;
    margin-bottom: 10px;
}
.container .box
{
    grid-column: span 2;
    grid-row: span 1;
}











@media (max-width: 991px)
{
    section,
    header
    {
        padding: 40px;
    }
    section h2
    {
        font-size: 2em;
    }
    header.sticky .logo
    {
        left: 40px;
    }
    header.sticky .banner
    {
        opacity: 0;
    }
    nav ul
    {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul
    {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        visibility: visible;
        flex-direction: column;
    } 
    nav ul li a
    {
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky .toggle
    {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url(../../assets/images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle.active
    {
        background: #fff url(../../assets/images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 991px)
{
    .container
    {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box
    {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}